// TEXT-COLORS
$default: #ffffff;
$default-black: #000000;
$dark: #212529;
$mid-grey: #444444;
$light-grey: #888888;

// BACKGROUND-COLORS
$smoke: #f7f7f7;
$cobalto: #0088cc;
$dark-bkg: #212529;
$extra-dark: #1c2023;
$button-hover: #32383e;

// BORDER-COLORS
$light-border: #efefef;
