// TEXT-COLORS
$default: #ffffff;
$default-black: #000000;
$dark: #212529;
$mid-grey: #444444;
$light-grey: #888888;

// BACKGROUND-COLORS
$smoke: #f7f7f7;
$cobalto: #0088cc;

// BORDER-COLORS
$light-border: #efefef;
